body{
	margin:0;
	padding:0;
	font-family: 'Robota slab', serif;
	box-sizing: border-box;

	}
	.your-form{
width:50%;
position: relative;
top: 50%;
left: 50%;



}
.form{
	background: url("../page/city.jpg") no-repeat;
    background-size:  cover;


}
button[type="submit"]{
background: blue;
color:white;
padding: 0.5em;
}
button:hover{
	color: #fff;
	background-color: black;
	border-radius: 50%;
}
	
textarea{
width: 25%;
padding: 15px;
margin-top: 10px;
border:1px solid #7ac9b7;
border-radius:5px;
margin-bottom: 20px;
resize:none;
}

input[type="text"]{
	border-radius: 10px;
	width: 25%;
	padding: 15px;
	margin-top: 10px;
    border:1px solid #7ac9b7;
}
.your_para{
	   color:#ac00e6;
}
